dist/
node_modules/
package-lock.json
.DS_Store
*.log
*.env
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.log
packages/sdl-playground/node_modules
packages/sdl-playground/dist
packages/sdl/dist-esm
packages/sdlang-site/node_modules
packages/sdlang-site/.next
packages/sdlang-site/out
